body {
    margin: 0px;
    min-width: 1000px;
}

header {
    text-align: center;
}

#appIcon {
    width: 100%;
    height: auto;
    max-width: 460px;
}

#navSection {
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    background: var(--sandpaper);
}

#navSection .desc {
    font-size: 26px;
    text-align: center;
    width: 100%;
    color: black;
}

#navSection .navContent {
    width: 100%;
    top: 30%;
}

#navSection .desc {
    margin-bottom: 50px;
}

#headDesc {
    width: 50%;
    height: 100%;
    float: right;
    padding: 50px;
    background: var(--deep_blue);
    color: white;
    font-size: 20px;
}

#mainAppDesc {
    margin-top: 70px;
    margin-bottom: 70px;
}

#notable {
    width: 100%;
    min-height: 500px;
    background: var(--deep_red);
    border-bottom: var(--lego_width) dashed var(--mod_white);
    color: white;
}

.leftBorder {
    width: 50%;
    height: auto;
    content: '';
    float: left;
    top: 0 !important;
    border-top: var(--lego_width) dashed var(--sandpaper);
}

.rightBorder {
    width: 50%;
    height: auto;
    content: '';
    float: right;
    top: 0 !important;
    border-top: var(--lego_width) dashed var(--deep_blue);
}

.content p {
    padding-left: 30vw;
    padding-right: 30vw;
}



