body {
    margin: 0px;
    min-width: 1000px;
}

header {
    text-align: center;
}

#appIcon {
    width: 100%;
    height: auto;
    max-width: 460px;
}

#navSection {
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    background: var(--sandpaper);
    border-bottom: var(--lego_width) dashed var(--deep_red);
}

#navSection .desc {
    font-size: 26px;
    text-align: center;
    width: 100%;
    color: black;
}

#navSection .navContent {
    width: 100%;
    top: 30%;
}

#navSection .desc {
    margin-bottom: 50px;
}

#headDesc {
    width: 50%;
    height: 100%;
    float: right;
    padding: 50px;
    background: var(--deep_blue);
    color: white;
    font-size: 20px;
    border-bottom: var(--lego_width) dashed var(--deep_red);
}

#mainAppDesc {
    margin-top: 70px;
    margin-bottom: 70px;
}

#notable {
    width: 100%;
    min-height: 500px;
    background: var(--deep_red);
    border-bottom: var(--lego_width) dashed var(--mod_white);
    padding: 100px;
    color: white;
}

.content p {
    padding-left: 20vw;
    padding-right: 20vw;
}

#notable .title {
    font-size: 42px !important;
    margin-bottom: 60px !important;
    margin-top: 30px !important;
    text-decoration: underline;
}

#notable .subtitle {
    font-size: 32px !important;
    text-decoration: underline;
}

.descText {
    font-size: 20px !important;
    font-weight: 100;
}



