<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <link rel="shortcut icon" href="../static/assets/favicon.ico" type="image/x-icon">
        <link rel='stylesheet' href='../static/style/base.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Mosiac</title>
        {% block head %}
        {% endblock %}
    </head>
    <body class='centerContainer'>
        {% block body %}
        <p>Shh, you saw nothing...</p>
        {% endblock %}
        {% if noLoadFooter is defined %}
        {% else %}
        {% block footer %}
        <footer>
            <div id='footerContent' class='centerContainer'>
                <div id='copyright' class='centerContainer'>
                    <p id='copyrightText'>
                        ©2021 by Mohamed Shahul Hameed Niyaz. All rights reserved, but usage of downlaoded images commercially is allowed</p>
                </div> 
                <div id="footerLogoLink">
                    <a href="https://github.com/Niyaz-Mohamed">
                        <img src='../static/assets/github_link_icon.png' id='footerLogo'>
                    </a>
                </div>
            </div>
        </footer>
        {% endblock %}
        {% endif %}
    </body>
</html> 