{% extends "base.html" %}
{% block head %}
    <link rel='stylesheet' href='../static/style/editor.css'>
{% endblock %}
{% block body %}    
    <header class='centerContainer'>
        <div class='centerContainer'>
            <img src='../static/assets/word_logo.png' id='appLogo'>
        </div>
        <div id='headerContent' class='centerContainer'>
            <p id='headerTitle' class='title'>Editor</p>
            <nav>
                <a href='home' class='pixelBtn redBtn'>Home</a>
                <a class='pixelBtn'>Editor</a>
                <a href='library' class='pixelBtn'>Library</a>
                <a href='https://github.com/Niyaz-Mohamed/mosaic' target='_blank' class='pixelBtn'> Github</a>
            </nav>
        </div>
    </header>
    <div id='editorBody' style='text-align: center;'>
        
        <form method='POST' action='/editor' enctype="multipart/form-data" class='centerContainer'>
            
            <label class='imgUpload'>

                <div id='imgContainer' class='centerContainer'>
                    {% if filename == '' or filename=='_pixelated.png' %}
                        {% if errorMsg=='No file chosen' %}
                        <p id='errorMsg'>Upload Image</p>
                        <input type="file" accept='.png, .jpg' name='file'>
                        {% else %}
                        <p id='errorMsg'>{{errorMsg}}</p>
                        <input type="file" accept='.png, .jpg' name='file'>
                        {% endif %}
                    {% else %}
                    <img src='../static/uploads/{{filename}}'>
                    {% endif %}
                </div>
                {% if filename != '' and filename != '_pixelated.png' %}
                    <input type="file" accept='.png, .jpg' name='file'>
                    {% if filename == '' or filename == '_pixelated.png' %}
                    <p>Upload Image</p>
                    {% else %}
                    <p id='filename'>{{filename}}</p>
                    <p id='fileSize'>Size: {{width}}px by {{height}}px</p> 
                    {% endif %}
                {% endif %}
            </label> 

            <label class='pixelBtn redBtn centerContainer' id='imgRefresh'>
                <input type='submit' name='uploadToLib' value='False'>
                <p><span id='refreshIcon'>&#8634;</span> Refresh</p>
            </label>

            {% if filename != '' and filename != '_pixelated.png' %}
            <div style='width: 100%; margin-bottom: 40px;' class='centerContainer'>
                <a href='library' class=pixelBtn>
                    <label class='centerContainer'>
                        <input type='submit' name='uploadToLib' value='True'>
                        <p>
                            <span id='downloadIcon'>
                                <i class='fa fa-download'></i>
                            </span> 
                        Upload to Library</p>
                    </label>
                </a>
            </div>
            {% endif %}
            <label class='checkContainer'>Greyscale
                {% if greyscale==True %}
                <input type="checkbox" name='greyscale' checked>
                {% else %}
                <input type="checkbox" name='greyscale'>
                {% endif %}
                <span class='checkmark'></span>
            </label>

            <section class='fieldset'>
                <p class='legend'>Pixelation Degree</p> 
                <div class='centerContainer'>
                    <div id='completeSlider'>
                        <p id='startValue'>0</p>
                        <div class='slideContainer' id='pixSlider'>
                            <input type="range" min='50' max='100' value='{{pixDeg}}' class='slider' name='pixDeg'>
                        </div>
                        <p id='endValue'>100</p>
                    </div>
                </div>
            </section>
            <!--inputfieldnumber widthtitle-->
            <section class='fieldset'>
                <p class='legend'>Image Width</p>
                <div class='centerContainer'>
                    <input type="number" value={{width|default(600,true)}} placeholder="New Image Width" id='widthInput' class='textInput' min="1" name='newWidth'>
                </div>
            </section>
        </form>
    </div>
{% endblock %}