{% extends "base.html" %}
{% block head %}
    <link rel='stylesheet' href='../static/style/editor.css'>
{% endblock %}
{% block body %}    
    <header class='centerContainer'>
        <div class='centerContainer'>
            <img src='../static/assets/word_logo.png' id='appLogo'>
        </div>
        <div id='headerContent' class='centerContainer'>
            <p id='headerTitle' class='title'>Editor</p>
            <nav>
                <a href='home' class='pixelBtn redBtn'>Home</a>
                <a href='' class='pixelBtn'>Editor</a>
                <a href='library' class='pixelBtn'>Library</a>
                <a href='https://github.com/Niyaz-Mohamed/Mosiac/tree/main' class='pixelBtn'> Github</a>
            </nav>
        </div>
    </header>
    <div id='editorBody' style='text-align: center;'>

        <div id='imgContainer' class='centerContainer'>
            {% if filename == '' %}
            <p id='errorMsg'>{{errorMsg}}</p>
            {% else %}
            <img src='../static/uploads/{{filename}}'>
            {% endif %}
        </div>
        
        <form method='POST' action='/editor' enctype="multipart/form-data" class='centerContainer'>
            <label class='imgUpload'>
                <input type="file" accept='image/png, image/jpg, image/jpeg' name='file'>
                {% if filename != '' %}
                <p id='filename'>{{filename}}</p>
                <p id='fileSize'>Size: {{width}}px by {{height}}px</p> 
                {% else %}
                <p>Upload Image</p>
                {% endif %}
            </label> 
            <label class='pixelBtn redBtn centerContainer' id='imgRefresh'>
                <input type='submit'>
                <p><span id='refreshIcon'>&#8634;</span> Refresh</p>
            </label>
        </form>
    </div>
{% endblock %}