{% extends "base.html" %}
{% block head %}
    <link rel='stylesheet' href='../static/style/editor.css'>
{% endblock %}
{% block body %}    
    <header class='centerContainer'>
        <p id='editorTitle' class='title'>Mosiac Editor</p>
    </header>
    <div id='editorBody'>

        <div id='imgContainer' class='centerContainer'>
            {% if filename == '' %}
            <p>{{errorMsg}}</p>
            {% else %}
            <img src='../uploads/{{filename}}'>
            {% endif %}
        </div>
        
        <form method='POST' action='/editor' enctype="multipart/form-data">
            <input type="file" accept='image/*'  name='file'>
            <input type='submit' value='upload'>
        </form>
    </div>
{% endblock %}