{% extends "base.html" %}
{% block head %}
    <link rel='stylesheet' href='../static/style/index.css'>
{% endblock %}

{% block body %}
    <header>
        <div id='navSection' class='centerContainer'>
            <div class='navContent'>
                <img src='../static/assets/word_logo.png' id='appIcon'>
                <p class='desc'>Creating pixel art from images</p>
                <nav class='centerContainer'>
                    <a href='#examples' class='pixelBtn'>Examples</a>
                    <a href='library' class='pixelBtn'>Library</a>
                    <a href='https://github.com/Niyaz-Mohamed/mosaic' class='pixelBtn'>Github</a>
                </nav>
            </div>
        </div>
        <div id='headDesc' class='centerContainer'>
            <div id='appIntro' class='centerContainer'>
                <p id='mainAppDesc'>{{title_desc}}</p>
                <a href='#pixelator' class='pixelBtn redBtn'>Try It!</a>
            </div>
        </div>
        </header>
    </header>
    <div id='examples'>
        <div class='leftBorder'></div>  
        <div class='rightBorder'></div>
        <div class='content'>
            <div class='centerContainer'>
                <p class='title'>Examples</p>
                <p>Insert</p>
                <p class='subtitle'>Convertion</p>
                <p>Insert</p>
                <p class='subtitle'>Comparison</p>    
                <p>Insert</p>
            </div>
        </div>
    </div>
    <div id='pixelator' class='centerContainer'>
        <a href="editor" class='pixelBtn redBtn'>Open Editor</a>
    </div>
{% endblock %}


