{% extends "base.html" %}
{% block head %}
    <link rel='stylesheet' href='../static/style/library.css'>
{% endblock %}
{% block body %}    
    <header class='centerContainer'>
        <div class='centerContainer'>
            <img src='../static/assets/word_logo.png' id='appLogo'>
        </div>
        <div id='headerContent' class='centerContainer'>
            <p id='editorTitle' class='title'>Library</p>
            <nav>
                <a href='home' class='pixelBtn redBtn'>Home</a>
                <a href='editor' class='pixelBtn'>Editor</a>
                <a href='' class='pixelBtn'>Library</a>
                <a href='https://github.com/Niyaz-Mohamed/Mosiac/tree/main' class='pixelBtn'> Github</a>
            </nav>
        </div>
    </header>
    {% if imgData|length == 0 %}
    <div id='emptyBody' class='centerContainer'>
        <p>No files to display</p>
    </div>
    {% endif %}
{% endblock %}